<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>success page</title>
        <!-- <link rel="stylesheet" href="output.css" /> -->
        <link rel="stylesheet" href="welcome.css" />
    </head>
    <body>
        <main>
            <h2 class="bg-red">
                your home is successfull registered on the airbnb
            </h2>
            <a href="/">go to the home page</a>
        </main>
    </body>
</html>
