<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="output.css" />

        <title>welcome airbnb</title>
    </head>
    <body>
        <h1>welcome to the airbnb home page</h1>
        <a href="/host/contactUs">go to register page</a>
        <br /><br />
        <h2>your registered homes are :</h2>
        <ul>
            <% registerHomes.forEach(home =>{%>
            <li><%= home.houseName %></li>
            <% })%>
        </ul>
    </body>
</html>
