<form action="/favourite" method="post">
    <button
        class="bg-blue-400 hover:bg-blue-600 text-white font-semibold py-2 px-2 rounded-lg shadow-md transition duration-300 mt-2 ml-2"
    >
        Add to favourite
    </button>
    <input type="hidden" name="id" value="<%= home.id %>" />
</form>
