<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/output.css" />
        <title><%= pageTitle %> home page</title>
    </head>
    <body class="bg-gray-100 flex flex-col min-h-screen">
        <!-- Header -->
        <header class="bg-white shadow-md">
            <div
                class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between"
            >
                <h1 class="text-xl font-bold text-gray-800">Airbnb</h1>
                <nav>
                    <ul class="flex gap-4 text-gray-600">
                        <li>
                            <a href="/" class="hover:text-blue-600">Home</a>
                        </li>
                        <li>
                            <a href="/listings" class="hover:text-blue-600"
                                >Listings</a
                            >
                        </li>
                        <li>
                            <a href="/contact" class="hover:text-blue-600"
                                >Contact</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>
